
<div class="mt-5 d-flex">


    <div class="card mb-2" style="width: 24rem;">
      <%= cl_image_tag @cocktail.photo.key, height: 400, width: 250, crop: :fill, class:  'card-img-top'%>
      <!-- <img class="card-img-top" src="https://via.placeholder.com/250" alt="Card image cap"> -->
  </div>

  <div class="ml-5 w-50">
    <div class="border-bottom py-2 mb-4">
      <h2><%= @cocktail.name %></h2>
    </div>

    <div class="mb-4 text-secondary">
      <h5>Description:</h5>
      <% @cocktail.doses.each do |dose| %>
        <%= dose.description %>
      <% end %>
    </div>

    <div class="mb-2 text-secondary">
      <h5>Ingredients:</h5>
      <% @cocktail.ingredients.each do |ingredient| %>
        <li class="d-flex justify-content-between">
          <%= ingredient.name %>
          <%= link_to 'delete', cocktails_path, class: 'text-danger' %>
        </li>
      <% end %>
    </div>


    <div class="form-actions mb-5">
      <%= link_to 'Add Ingredients', new_cocktail_dose_path(@cocktail.id), class: 'btn btn-warning btn-sm'%>
    </div>
    <div class="text-warning">
      <i class="fas fa-chevron-left mr-2"></i>
      <%= link_to 'Back to cocktails', cocktails_path, class: "text-warning" %>
    </div>
  </div>
</div>

